*{
    box-sizing: border-box;
}

body{
    font-family: 'Onest', sans-serif;
    color: #FFF;
}

a{
    text-decoration: none;
    color: #fff;
}

.wrapper{
    background-image: url(../img/merge_bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 85px;
}

/* .cover_bg{

    background-image: url(../img/main_bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
} */

.container{
    max-width: 1526px;
    margin: 0 auto;
}

.fixed-top{
    position: initial;
}

.bg-body-tertiary{
    background-color: transparent !important;
}

.header{
    padding-top: 30px;
    margin-bottom: 60px;
}

.header .navbar-toggler{
    display: none;
}

.header-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-inner .navbar-brand{
    display: block;
    padding: 0;
    margin: 0;
}

.mobile_logo{
    display: none;
}

.header-inner .navbar-brand img{
    margin-left: -40px;
}

.header .navbar .container-fluid{
    display: initial;
}

.menu ul{
    display: flex;
    justify-content: space-between;
}

.menu ul li{
    margin-right: 35px;
}

.menu ul li:last-child{
    margin-right: 0;
}

.menu ul li a{
    font-size: 16px;
    font-weight: 700;
    line-height: 21.82px;
    color: rgba(255, 255, 255, 0.65);
}

.main{
    margin-bottom: 69px;
}

.main-content{
    margin-bottom: 108px;
}

.main h1{
    font-family: Bakbak One;
    font-size: 96px;
    font-weight: 400;
    line-height: 91px;
    letter-spacing: 3.84px;
    max-width: 655px;
    padding-bottom: 29px;
}

.main h1 span{
    background-image: var(--Linear, linear-gradient(180deg, #F400D2 46%, #4453D0 100%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-content p:first-child{
    border-top: 1px solid rgba(255, 255, 255, 0.40);
    max-width: 1397px;
    padding-top: 24px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 16px;
}

.main-content p:last-child{
    font-size: 36px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.72px;
}

.main-reward{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin-bottom: 132px;
}

.reward-item{
    width: fit-content;
    border-right: 1px solid #FFF;
    padding-right: 70px;
}

.reward-item:last-child{
    border: none;
}

.reward-item span{
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.40);
}

.reward-item p{
    font-size: 47px;
    font-weight: 700;
    line-height: 64px;
}

.main-button{
    background: var(--G, linear-gradient(181deg, #E70BA2 -46.79%, #3745B9 99.26%));
    padding: 22px 43px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 22px;
    font-size: 40px;
    font-weight: 700;
    line-height: 23.2px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

.main-button span{
    padding-right: 18px;
    padding-left: 18px;
}

.main-button i{
    font-size: 33px;
}

.nomination-inner h2{
    font-size: 54.018px;
    font-weight: 700;
    color: #6B34B2;
    line-height: 66.735px;
    text-transform: uppercase;
    border-bottom: 1px solid #6B34B2;
    margin-bottom: 51px;
}

.nomination-content{
    color: #6B34B2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nomination-item{
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding: 23px 30px;
    max-width: 734px;
    border: 2px solid #4623A9;
    border-radius: 19.055px;
    margin-bottom: 49px;
    align-items: center;
}

.nomination-item-content p{
    font-size: 33.953px;
    font-style: normal;
    font-weight: 700;
    line-height: 42.442px;
    text-transform: uppercase;
    max-width: 404px;
}

.nomination-item-content a{
    font-size: 29.162px;
    font-style: normal;
    font-weight: 500;
    line-height: 39.883px;
    color: #000;
}

.nomination-item-number p{
    font-size: 173.557px;
    font-style: normal;
    font-weight: 700;
    line-height: 125px;
}

.nomination-item:last-child{
    margin-bottom: 102px;
}

.juri{
    background-image: url(../img/merge_juri.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 105px;
    margin-bottom: 80px;
}

.juri h2{
    font-size: 79.321px;
    font-style: normal;
    font-weight: 700;
    line-height: 90.653px;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255, 255, 255, 0.40);
    margin-bottom: 58px;
}

.juri-card{
    max-width: 440px;
    background: #fff;
    border-radius: 45px;
}

.juri-card img{
    width: 100%;
    border-radius: 43px;
}

.juri-card-content{
    padding-left: 21px;
    padding-right: 21px;
    padding-bottom: 35px;
    padding-top: 10px;
    min-height: 266px;
}

.juri-card-content h3{
    font-size: 40px;
    font-weight: 700;
    line-height: 67px;
    text-transform: uppercase;
    background-image: var(--G, linear-gradient(181deg, #E70BA2 -46.79%, #3745B9 99.26%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}

.juri-card-content p{
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #000;
}

.faq a{
    color: #4623A9;
}

.faq_title{
    font-size: 54.018px;
    font-weight: 700;
    color: #6B34B2;
    line-height: 66.735px;
    text-transform: uppercase;
    border-bottom: 1px solid #6B34B2;
    margin-bottom: 51px;
}

.faq-content .accordion-button{
    font-size: 20.577px;
    font-style: normal;
    font-weight: 700;
    line-height: 24.693px;
}

.accordion-button:not(.collapsed){
    background-color: transparent;
    box-shadow:none;
    color: #6B34B2;
}

.accordion-body p{
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 15px;
}

.accordion-button:focus{
    border: none;
    box-shadow: none;
}

.faq{
    margin-bottom: 160px;
}

.slick-prev, .slick-next{
    display: none !important;
}

.order h2{
    font-size: 54.018px;
    font-weight: 700;
    color: #6B34B2;
    line-height: 66.735px;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.order-content form input, .order-content form select{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: rgba(33, 37, 41, 0.75);
    padding: 18px 16px;
    background: #F1F1F1;
    margin-bottom: 24px;
    border-radius: 0;
    border: none;
}

.order-content form input::placeholder, .order-content form select::placeholder{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: rgba(33, 37, 41, 0.75);
}

.order-content form input:last-child{
    margin-bottom: 32px;
}

.order-content form button{
    border-radius: 22px;
    background: var(--G, linear-gradient(181deg, #E70BA2 -46.79%, #3745B9 99.26%));
    display: flex;
    align-items: center;
    border: none;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 23.2px;
    text-transform: uppercase;
    padding: 22px 43px;
}

.order-content form button span{
    padding-left: 18px;
    padding-right: 18px;
}

.order-content form button i{
    font-size: 33px;
}

.order{
    margin-bottom: 80px;
}

.footer{
    background-image: url(../img/merge_footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.footer-inner{
    padding-top: 65px;
    padding-bottom: 83px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contacts{
    text-align: right;
}

.footer-inner img{
    margin-right: 200px;
}

.contacts a:first-child{
    display: inline-block;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 21.82px;
    margin-bottom: 28px;
}

.contacts a:last-child{
    display: inline-block;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 21.82px;
    text-decoration-line: underline;
}

@media (max-width: 991.98px) {

}

@media (max-width: 767.98px) {

}

@media (max-width: 575.98px) {
    .wrapper{
        background-image: url(../img/m_merge_bg.png);
        margin-bottom: 37px;
    }


    .container{
        padding-left: 30px;
        padding-right: 30px;
    }


    .header .navbar .container-fluid{
        display: flex;
        align-items: center;
    }

    .mobile_logo{
        display: flex;
    }

    .mobile_logo img{
        margin-left: -20px;
    }

    .navbar-brand img{
        display: none;
    }

    .menu{
        display: none;
    }
    
    .header .navbar-toggler{
        display: block;
        outline: none;
        border: none;
        padding: 0;
    }

    .main{
        margin-bottom: 52px;
    }

    .main h1{
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 37px;
        padding: 0;
        margin-bottom: 32px;
    }

    .main-content p:first-child{
        font-size: 31px;
        font-style: normal;
        font-weight: 700;
        line-height: 33px;
        text-transform: uppercase;
        text-align: justify;
        max-width: 100%;
        margin-bottom: 16px;
        border: none;
        border-top: 1px solid rgba(255, 255, 255, 0.40);
        padding-top: 7px;
    }

    .main-content p:last-child{
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.4px;
    }

    .main-reward{
        flex-wrap: wrap;
        max-width: 100%;
        margin-bottom: 24px;
        justify-content: unset;
        align-items: baseline;
    }

    .reward-item span{
        font-size: 8.399px;
        font-style: normal;
        font-weight: 700;
        line-height: 11.198px;
        text-transform: uppercase;
    }

    .reward-item p{
        font-size: 19.597px;
        font-style: normal;
        font-weight: 700;
        line-height: 22.397px;
    }

    .main-button{
        font-size: 18.446px;
        font-style: normal;
        font-weight: 700;
        line-height: 10.698px;
        padding: 10px 20px;
    }

    .main-button img{
        width: 15%;
    }

    .main-button span{
        padding-right: 8px;
        padding-left: 8px;
    }

    .main-button i{
        font-size: 18.446px;
    }

    .rotate{
        display: flex;
        flex-direction: column-reverse;
    }

    .reward-item{
        width: fit-content;
    }

    .reward-item:first-child{
        padding-right: 7px;
        margin-bottom: 11px;
    }

    .reward-item:nth-child(2){
        padding-right: 8px;
        padding-left: 8px;
    }

    .main-content{
        margin-bottom: 53px;
    }

    .navbar-toggler-icon{
        background-image:url(../img/togle.png)
    }

    .nomination-inner h2{
        font-size: 34.299px;
        font-style: normal;
        font-weight: 700;
        line-height: 43.199px;
        margin-bottom: 34px;
    }

    .nomination-content{
        flex-direction: column;
    }

    .nomination-item{
        width: 100%;
        border-radius: 8.383px;
        padding: 10px 13px;
        margin-bottom: 23px;
        max-width: 100%;
    }

    .nomination-item-content p{
        font-size: 14.937px;
        font-style: normal;
        font-weight: 700;
        line-height: 18.671px;
        text-transform: uppercase;
        max-width: 178px;
    }

    .nomination-item-content a{
        font-size: 12.83px;
        font-style: normal;
        font-weight: 400;
        line-height: 17.106px;
    }

    .nomination-item-number p{
        font-size: 76.354px;
        font-style: normal;
        font-weight: 900;
        line-height: 76.354px;
    }

    .nomination-item:last-child{
        margin-bottom: 40px;
    }

    .juri{
        padding-top: 35px;
        padding-bottom: 230px;
        margin-bottom: 54px;
        background-image: url(../img/jury_mob_bg.png);
    }

    .juri h2{
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
        border: none;
        text-align: center;
        margin-bottom: 23px;
    }

    .juri-card{
        border-radius: 28.085px;
        max-width: 100%;
    }

    .juri-card img{
        border-radius: 25px;
    }

    .juri-card-content{
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 24px;
    }

    .juri-card-content h3{
        font-size: 28.085px;
        font-style: normal;
        font-weight: 700;
        line-height: 47.043px;
    }

    .juri-card-content p{
        font-size: 16.851px;
        font-style: normal;
        font-weight: 400;
        line-height: 16.851px;
    }

    .order h2{
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 45px;
    }

    .order-content form button{
        font-size: 18.309px;
        font-style: normal;
        font-weight: 700;
        line-height: 14.099px;
        padding: 13px 26px;
        width: 100%;
    }

    .order-content form img{
        width: 15%;
    }

    .order-content form button span{
        padding-left: 11px;
        padding-right: 11px;
    }

    .order-content form button i{
        font-size: 18.309px;
    }

    .order{
        margin-bottom: 72px;
    }

    .faq{
        margin-bottom: 72px;
    }

    .faq_title{
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
        border: none;
        margin-bottom: 32px;
    }

    .accordion-item{
        border: none;
    }
    
    .faq-content .accordion-button{
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
    }

    .accordion-body p{
        font-size: 18px;
        line-height: 26px;
    }

    .accordion-body .main-button{
        font-size: 16px;
    }

    .accordion-body .main-button i{
        font-size: 16px;
    }

    .footer{
        background-image: none;
        background-color: #140B21;
    }

    .footer-inner{
        padding-top: 38px;
        padding-bottom: 50px;
        flex-direction: column;
    }

    .footer-inner img{
        margin-right: 0;
        width: 120%;
        margin-bottom: 10px;
    }

    .contacts{
        text-align: left;
        padding-top: 48px;
        border-top: 1px solid rgba(255, 255, 255, 0.30);
    }

    .contacts a:first-child{
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 16.484px;
    }

    .contacts a:last-child{
        font-size: 22.551px;
        font-style: normal;
        font-weight: 700;
        line-height: 12.302px;
    }

    .btn-close{
        --bs-btn-close-bg: url(https://i.ibb.co/2SGjKtN/close.png);
    }

    .offcanvas{
        background: #140B21;
    }

    .offcanvas-header .mobile-link img{
        width: 100%;
    }

    .offcanvas-body{
        padding-left: 45px;
        padding-right: 45px;
    }

    .nav-item .nav-link{
        color: #fff;
        font-size: 19.597px;
        font-style: normal;
        font-weight: 700;
        line-height: 22.397px;
        text-transform: uppercase;
    }

    .navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
        color: #fff;
    }













}